body {
    width: 100%;
    font-family: "Ubuntu", Helvetica, sans-serif;
    background: #fff;
}

#main {
    width: 800px;
    height: auto;
    margin: auto;
    border: 1px solid black;
    text-align: center;
    vertical-align: middle;
}

#main > h1 {
    width: 510px;
    height: 510px;
    margin: 0;
    padding: 0;
    font-size: 200pt;
}
